<div class="show-container">
    <h1>Post <%= @post.id %></h1>

    <div class="show-title">
        <p class="show-title-text">
            <%= @post.title %></p>
    </div>
    
    <div class="show-body">
        <p class="show-body-text">
            <%= @post.body %></p>
    </div>

    <div class="post-buttons-container">
        <%= link_to "Edit", edit_post_path, :class => "edit-post-button" %>
        <%= link_to "Delete", @post, method: :delete, :class => "delete-post-button", data: {confirm: 'Are you sure you want to delete this post?'} %>
    </div>
</div>
