<!DOCTYPE html>
<html>
	<head>
		<title>Blog</title>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
    	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<header>
			<h1>Closet</h1>

			<ul>
				<li>
					<%= link_to  "Home", root_path %>
				</link>
				<li>
					<%= link_to  "About", about_path %>
				</li>
				<li>
					<%= link_to  "Contact", contact_path %>
				</li>
				<li>
					<%= link_to  "FAQ", faq_path %>
				</li>
			</ul>
		</header>

		<%= yield %>
	</body>
</html>
