<!DOCTYPE html>
<html>
	<head>
		<title>Blog</title>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
    	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet" media="print">
		
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<header>
			<h1><%= link_to "blumelist", root_path, class: "link_to logo" %></h1>

			<ul class="navbar">
				<% if current_user %>
					<li>
						<%= link_to "growcal", "https://grow-calendar-react.firebaseapp.com", class: "link_to" %>
					</li>				
					<li>
						<%= link_to "topics", topics_path, class: "link_to" %>
					</li>
				<% end %>

			</ul>

			<div class="nav-profile">
				<% if current_user %>
					<ul class="nav-profile-link">
						<li class="nav-profile-img">
							<%= link_to(user_path(current_user)) do %>

								<%= image_tag current_user.avatar_url(48) %>
						</li>
						<li class="nav-profile-name">
							<p>
								<%= current_user.name.capitalize %> 
							<p>

							<% end %>
							<p>
								<%= link_to "Sign Out", session_path(current_user), method: :delete %>
							</p>
						</li>
					</ul>
				<% else %>
					<li>
						<%= link_to "Sign In", new_session_path, class: "link_to" %>
					</li>
				<% end %>
			</div>
		</header>

		<%# Error Banner %>
		<div class="flash-banner">
		<% if flash[:notice] %>
    		<div class="notice">
				<p class="notice-text">
					<%= flash[:notice] %>
				</p>
			</div>
		<% elsif flash[:alert] %>
			<div class="alert">
				<p class="alert-text">
					<%= flash[:alert] %>
				</p>
			</div>
		<% end %>
		</div>

		<main>
			<%= yield %>
		</main>

		<section class="footer">
			<div class="footer-learn-more">
				<h3>Learn More</h3>
				<p>
					<%= link_to "How it works", faq_path, class: "" %>
				</p>
				<p>
					<%= link_to "Contact Us", contact_path, class: "" %>
				</p>
			</div>

			<div class="footer-company">
				<h3>Company</h3>
				<p>
					<%= link_to "Our Team", about_path, class: "link_to" %>
				</p>
				<p>Jobs</p>
			</div>

			<div class="footer-community">
				<h3>Community</h3>
				<p>Blog</p>
				<p>Help Center</p>
			</div>

			<div class="footer-terms">
				<h3>Terms</h3>
				<p>Legal</p>
				<p>Privacy</p>
			</div>
		</section>

		<script async src="https://kit.fontawesome.com/fe0bb2c6a9.js"></script>
	</body>
</html>
